include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
recursive-include repixel *.py
recursive-include tests *.py
recursive-include examples *.py
global-exclude *.pyc
global-exclude __pycache__
